# Ignore everything
/*
!*/

# But not these files...
!*.ps1
!*.psm1
!*.psd1
!*.json
!*.md
!*.txt

# Ignore logs
logs/
*.log

# Ignore test results
TestResults/

# Keep config.json
!config.json

# Ignore datestamped tracking files but keep the main tracking file
*_????????_??????.csv 
*.log
*.vidx
*.vsuo
*.tmp.json
